@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    margin: 0;
    /* padding: 0; */
    font-family: 'Mulish', sans-serif;
}

header,
main {
    max-width: 1170px;
    width: 81%;
    margin: 0 auto;
}

.big-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.small-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.all-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.all-button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;

}

/* Header Section */
.nav-name {
    display: flex;
    gap: 1rem;
}

.nav-tavel {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.fa-bars {
    display: none;
}

.nav-touch {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

nav>div>ul {
    display: flex;
    list-style-type: none;
}

.Home {
    color: #FF5400;
    font-size: 1.1rem;
    font-weight: 400;
}

nav>div>ul>li>a {
    text-decoration: none;
    padding-left: 2.75rem;
    color: #424247;
    font-size: 1.1rem;
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.25rem;
    margin-bottom: 3rem;
}

.header-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("../Images/Group\ 13\ \(1\)\ \(1\).png");

    height: 500px;
    text-align: center;


}

.header-img>h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 6.6rem;
}

.header-img>p {
    color: #FFF;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.input-box-section {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;


}

.input-box-section>div>input {
    border-radius: 8px;
    background: #FFF;
    padding: 1rem;
    margin-left: 1.5rem;
    border: none;
}

/* Our Popular Tours */

.Popular-Tours {
    display: flex;
    justify-content: space-between;
    margin-top: 6.25rem;

}

.Popular-Tours img {
    width: 100%;
}

.Popular-Tours-para {
    margin: 1.5rem 0;
}

.Popular-Tours-para2 {
    color: #5A5A5D;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* Destination section */
.Destination {
    text-align: center;
    margin-top: 6.25rem;
}

.Destination-para {
    margin: 1.5rem 16.4rem 3rem 16.4rem;
}

.Destination-img img {
    width: 100%;
    height: 100%;

}

.columns-1-img-1 .Maldives,
.columns-1-img-2 .Indonesia,
.columns-2-img-1 .Srilanka,
.columns-3-img-1 .Bangladesh,
.columns-3-img-2 .Bandarban {
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-12%, -50%);
    color: #FFF;
    font-size: 28px;
    padding: 0;
}


.columns-2-img-2 .North-America {
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-30%, -50%);
    color: #FFF;
    font-size: 28px;
    padding: 0;
}


.columns-2-img-3 .Kashmir {
    position: relative;
    left: 50%;
    bottom: 50%;
    transform: translate(-17%, -50%);
    color: #FFF;
    font-size: 28px;
    padding: 0;
}

.Destination-img1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.Destination-img2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.Destination-img3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 5rem;
}

/* Choose Your Destination */

.choose-us {
    text-align: center;
    margin: auto 18.7rem;
}

.choose-us-title {
    margin-bottom: 1.5rem;
}

.choose-us-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.choose-us-box1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem 2.5rem 2rem 2rem;
}

.choose-us-box2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 2rem 2.5rem 2rem 2rem;
}

.choose-us-box3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: auto 18.7rem;
    padding: 2rem 2.5rem 2rem 2rem;

}










/* get-lost-section */

.get-lost-section {
    display: flex;
    justify-content: space-between;
}

.get-lost-img {
    width: 100%;
}




/* News Letter Section */

.News-letter-section {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.News-letter-section p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.News-letter {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 2.5rem;
}

.News-letter-section hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.News-Letter-input {
    width: 355px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 1rem 1.25rem;
    border: 0;
    gap: 1rem;
}

.News-Letter-input2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.News-Letter-button {
    width: 393px;
}

/* footer-section */

footer {
    text-align: center;
    background-color: rgba(19, 19, 24, 0.05);
}

.footer-section {
    max-width: 1170px;
    width: 81%;
    margin: 0 auto;
}

.footer-logo {
    justify-content: center;
    margin: 1.5rem auto;
    padding-top: 5rem;

}

.footer-para {
    padding-left: 12.5rem;
    padding-right: 12.5rem;

}

.footer-img {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.footer-last-para {
    padding-bottom: 3rem;
    margin-top: 3rem;
}

/* Mobile Device */

@media screen and (max-width:576px) {
    .header-img {
        height: 483px;
        height: 100%;
    }

    nav>div>ul {
        display: none;
    }

    .nav-tavel,
    .nav-touch {
        font-size: 1.5rem
    }

    .nav-name div>img {
        width: 35px;
    }

    .header-img>h1 {
        font-size: 22px;
        padding-top: 32px;

    }

    .input-box-section {
        flex-direction: column;
    }

    .fa-solid {
        display: flex;

    }

    .nav-heading {
        display: flex;
        align-items: center;
        gap: 7rem;
    }

    .input-box-section>div>input {
        margin-top: 1rem;
        margin-left: 0;
    }

    .header-img>p {
        padding-bottom: 0;
    }

    .all-button {
        font-size: 16px;
        width: 190px;
        text-align: center;
    }

    /* Our Popular Tours */

    .Popular-Tours {
        flex-direction: column;
        margin-top: 1.5rem;
    }

    .Popular-Tours img {
        margin-top: 1.5rem;
    }

    /* Destination section */
    .Destination-para {
        margin: 0;
        margin-bottom: 2rem;
    }

    .Destination-img1,
    .Destination-img3,
    .Destination-img2 {
        display: block;
    }

    .columns-1-img-1 .Maldives,
    .columns-1-img-2 .Indonesia {
        position: relative;
        left: 50%;
        bottom: 50%;
        transform: translate(-40%, -290%);
        color: #FFF;
        font-size: 28px;
        padding: 0;
        margin: 0;
        width: 150px;
    }

    .columns-2-img-1 .Srilanka {
        position: relative;
        left: 50%;
        bottom: 50%;
        transform: translate(-40%, -390%);
        color: #FFF;
        font-size: 28px;
        padding: 0;
        margin: 0;
        width: 150px;
    }

    .columns-3-img-1 .Bangladesh {
        position: relative;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, -350%);
        color: #FFF;
        font-size: 28px;
        padding: 0;
        margin: 0;
        width: 150px;
    }

    .columns-3-img-2 .Bandarban {
        position: relative;
        left: 50%;
        bottom: 50%;
        transform: translate(-55%, -250%);
        color: #FFF;
        font-size: 28px;
        padding: 0;
        margin: 0;
        width: 150px;

    }

    .columns-2-img-2 .North-America {
        position: relative;
        left: 50%;
        bottom: 50%;
        transform: translate(-40%, -180%);
        color: #FFF;
        font-size: 28px;
        padding: 0;
        margin: 0;
        width: 150px;

    }

    .columns-2-img-3 .Kashmir {
        position: relative;
        left: 50%;
        bottom: 50%;
        transform: translate(-35%, -480%);
        color: #FFF;
        font-size: 28px;
        padding: 0;
        margin: 0;
        width: 150px;

    }

    /* Choose Your Destination */

    .choose-us {
        text-align: center;
        margin: 0;
    }

    .choose-us-box {
        grid-template-columns: repeat(1, 1fr);

    }

    .choose-us-box3 {
        margin: 0;
    }








    /* .get-lost-section */

    .get-lost-section {
        flex-direction: column;
    }

    /* News Letter Section */

    .News-letter-section {
        flex-direction: column;
    }
    .news-letter-ing {
        width: 100%;
    
    }
    .News-Letter-input{
        width: 68%;
    }

    .footer-para {
        padding-left: 0;
        padding-right: 0;
    }
}